<template>
<div class="newlist">
<h1>Newslist</h1>

<div class="container">
<div >
  Search <input v-model="searchTerm"  >
</div>
    <button v-if="sortByAvailable('top')" @click="sortBy('top')">Sort By: Top</button>
    <button v-if="sortByAvailable('latest')" @click="sortBy('latest')">Sort By: Latest</button>
    <button  @click="sortBy(null)">Sort By: Default</button>

     <ul class="media-list">
        <li class="media" v-for="article in filteredArticles">
          <div class="media-left">
            <a v-bind:href="article.url" target="_blank">
              <img class="media-object" v-bind:src="article.urlToImage">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a v-bind:href="article.url" target="_blank">{{article.title}}</a></h4>
            <h5 v-if="article.author"><i>by {{article.author}}</i></h5>
            <p>{{article.description}}</p>
            <p v-if="article.publishedAt">Published: {{article.publishedAt}}</p>
          </div>
        </li>
      </ul>
</div>
</div>
</template>


<script>
export default {
    name: 'newlist',
    props: ['source'],
    
   data () {
    return {
      searchTerm: '',
      articlesFromAPI: [],
      filteredArticles: [],
      sortBysAvailable: [],
      sortBySelected: null
    }
  },
     methods: {

        updateSource: function (source){
          let self = this;
            this.sortBysAvailable = source.sortBysAvailable;
            let sortParam = '';
            if (this.sortBySelected !== null) {
              sortParam = '&sortBy='+this.sortBySelected;
            }
            console.log(sortParam)
            this.$http.get('https://newsapi.org/v1/articles?source=' + source.id +
                  '&apiKey=cc4c29a160a34639b35ef6bce30633ce'+ sortParam )
                  .then(response => {
                      self.articlesFromAPI = response.data.articles;
                      self.filteredArticles = self.articlesFromAPI;
                  });   
          },


          sortBy: function (direction) {
            this.sortBySelected = direction;
            this.updateSource(this.source)
          },

          sortByAvailable(direction){
            if (this.sortBysAvailable.indexOf(direction) != -1) {
              return true;
            }
            return false;
          },

          filterArticles() {
            let self = this;
            self.filteredArticles = self.articlesFromAPI.filter((article)=> {
                if(self.searchTerm === ''){
                      return true;
                }

                let lowerCaseTitle = article.title.toLowerCase();
                let lowerCaseSearchTerm = self.searchTerm.toLowerCase();

                if (lowerCaseTitle.includes(lowerCaseSearchTerm)) {
                  return true;
                }
                return false;
            });
          }
    },

  created: function () {

      //  this.updateSource(this.source);
      
  },
  watch: {
    source: function (val) {
          console.log(this.source);
      this.updateSource(val);
    },

    searchTerm: function(val) {
      this.filterArticles();
    }

  }
}

</script>

<style>
.media-object {
    display: block;
    max-width: 200px;
}
</style>