<template>
  <div class="sourceselection">
    <div>
      <div class="jumbotron">
        <h2><span class="glyphicon glyphicon-list-alt"></span>&nbsp;News List</h2>
        <h4>Select News Source</h4>
        <select class="form-control" v-on:change="sourceChanged" v-model='currentSource'>
          <option v-for="source in sources" :value="source">{{source.name}}</option>
        </select>

        <div v-if="source">
          <h6>{{source.description}}</h6>
          <a v-bind:href="source.url" class="btn btn-primary" target="_blank">Go To {{source.name}} Website</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sourceselection',
  data () {
    return {
      sources: [
        {
          name: "Please select a source...",
          sortBysAvailable: []
        }
      ],
      source: '',
      currentSource: {}
    }
  },
  methods: {
    sourceChanged: function(e) {

     this.$emit('sourceChanged', this.currentSource);
    }
  },
  created: function () {
        this.currentSource = this.sources[0];
    
    this.$http.get('https://newsapi.org/v1/sources?language=en')
      .then(response => {
        this.sources = this.sources.concat(response.data.sources);
      });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
