<template>
  <div id="app" class="container">
    <SourceSelection v-on:sourceChanged="sourceChanged"></SourceSelection>
    <Newslist v-bind:source="source"></Newslist>
 
  </div>
</template>

<script>
// importing the components
import SourceSelection from './components/SourceSelection'
import Newslist from './components/Newslist'

export default {
  name: 'app',
  components: {
   SourceSelection,
   Newslist
  },
  data (){
    return {
      source: ""
    }
  },
  methods:{
    sourceChanged: function(source){
      this.source = source;
    }
  }
}
</script>

<style>
#app {
  
}
</style>
